html,
body, * {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.logo{
    width: 25%;
    height: auto;
}

.navbar-nav{
    font-size: 1.5rem;
    
}

.container {
    display: flex;
    margin-top: 5%;
}

.container img {
    width: 450px;
}

/* Footer */

footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 1px solid #f2f2f2;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 5%;
    align-items: center;
}

.container img {
    width: 450px;
}

.container img:hover {
    transform: scale(1.1, 1.1);
}

.container .text-info {
    margin-left: 5%;
    color: white;
    text-align: center;
    animation: fadeIn 10s;
}

.interest-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
}

.icons {
    margin-top: 10px;
}

.fa {
    font-size: 50px;
    padding: 15px;
}

.fa:hover {
    transform: scale(1.1,1.1);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }