/*Main banner*/
.main__about {
  background-color: #030303;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
  padding-top: 20vh;
  padding-bottom: 10vh;

  .main__about--panel--1 {
    display: flex;
    align-content: center;
    justify-content: center;
    img {
      width: 70%;
    }
  }
  img {
    width: 100%;
  }
}
/*Fin main banner*/

/*Bloque descripción*/

.bloque__descrip {
  width: 100%;
  box-shadow: $box-shadow-light;
  background-color: black;
  
  @media screen and (max-width: 900px) {
    .bloque__des--panel {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-image: url(../img/Triangepatter.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: white;
        display: grid;
        grid-template-rows: 100%;
        align-items: center;
        justify-items: center;
        text-align: justify;
        h1 {
          padding-bottom: 2%;
          font-size: 3vw;
        }
        p {
          font-size: 2vw;
        }
        img {
          width: 80%;
        }
        .panel_des {
          padding: 0% 10% 0% 10%;
        }
  }
}

@media screen and (min-width: 900px) {

    .bloque__des--panel {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-image: url(../img/Triangepatter.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: white;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        text-align: justify;
        h1 {
          padding-bottom: 2%;
          font-size: 3vw;
        }
        p {
          font-size: 2vw;
        }
        img {
          width: 100%;
        }
        .panel_des {
          padding: 0% 10% 0% 10%;
        }
  }

}

}

/*Sección sobre mí*/

.bloque__seccion--big--about {
    width: 100%;
    box-shadow: $box-shadow-light;
    background-color: black;
    @media screen and (max-width: 900px) {
      .inner__banner--2c{
        display: grid;
        grid-template-rows: 50% 50%;
        padding: 10%;
        background-image: url(/dist/img/Triangepatter.svg);
        background-repeat: no-repeat;
        background-size: contain;
        .inner__banner--box {
          display: flex;
          justify-content: center;
          img{
            margin-top: 10%;
            width: 90%;
          }
        }
        .inner__banner--box-txt {
          padding: 1% 5% 1% 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          justify-content: center;
          color: white;
          border-radius: 25px;
          h1 {
            font-size: 4.5vw;
            padding: 3%;
          }
          p {
            font-size: 3.5vw;
          }
        }
        
      }
      
    }
    @media screen and (min-width: 900px) {
      .inner__banner--2c {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 10%;
        background-image: url(/dist/img/Triangepatter.svg);
        background-repeat: no-repeat;
        background-size: cover;
        .inner__banner--box {
          display: flex;
          justify-content: center;
          img{
            width: 90%;
          }
        }
        .inner__banner--box-txt {
          padding: 1% 5% 1% 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          justify-content: center;
          color: white;
          border-radius: 25px;
          h1 {
            font-size: 2.5vw;
            padding: 3%;
          }
          p {
            font-size: 2vw;
          }
        }
      }
      
    }
  }

  /*Sección Zona sobre mí*/

  /*Sección Formación*/

.bloque__seccion--big--for {
    width: 100%;
    box-shadow: $box-shadow-light;
    background-color: black;
    @media screen and (max-width: 900px) {
      .inner__banner--2c{
        display: grid;
        grid-template-rows: 50% 50%;
        padding: 10%;
        .inner__banner--box {
          display: flex;
          justify-content: center;
          img{
            margin-top: 10%;
            width: 90%;
          }
        }
        .inner__banner--box-txt {
          padding: 1% 5% 1% 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          justify-content: center;
          color: white;
          border-radius: 25px;
          h1 {
            font-size: 4.5vw;
            padding: 3%;
          }
          p {
            font-size: 3.5vw;
          }
        }
        
      }
      
    }
    @media screen and (min-width: 900px) {
      .inner__banner--2c {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 10%;
        .inner__banner--box {
          display: flex;
          justify-content: center;
          img{
            width: 90%;
          }
        }
        .inner__banner--box-txt {
          padding: 1% 5% 1% 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          justify-content: center;
          color: white;
          border-radius: 25px;
          h1 {
            font-size: 2.5vw;
            padding: 3%;
          }
          p {
            font-size: 2vw;
          }
        }
      }
      
    }
  }

  /*Sección formacipon*/

  /*Sección Formación*/

.bloque__seccion--big--for--u {
    width: 100%;
    box-shadow: $box-shadow-light;
    background-color: black;
    @media screen and (max-width: 900px) {
      .inner__banner--2c{
        display: grid;
        grid-template-rows: 50% 50%;
        padding: 10%;
        background-image: url(../img/Pattern1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .inner__banner--box {
          display: flex;
          justify-content: center;
          img{
            margin-top: 10%;
            width: 90%;
          }
        }
        .inner__banner--box-txt {
          padding: 1% 5% 1% 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          justify-content: center;
          color: white;
          border-radius: 25px;
          h1 {
            font-size: 4.5vw;
            padding: 3%;
          }
          p {
            font-size: 3.5vw;
          }
        }
        
      }
      
    }
    @media screen and (min-width: 900px) {
      .inner__banner--2c {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 10%;
        background-image: url(../img/Pattern1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .inner__banner--box {
          display: flex;
          justify-content: center;
          img{
            width: 90%;
          }
        }
        .inner__banner--box-txt {
          padding: 1% 5% 1% 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          justify-content: center;
          color: white;
          border-radius: 25px;
          h1 {
            font-size: 2.5vw;
            padding: 3%;
          }
          p {
            font-size: 2vw;
          }
        }
      }
      
    }
  }

  /*Sección Zona sobre mí*/

  .bloque__seccion--big--for--tec {
    width: 100%;
    box-shadow: $box-shadow-light;
    background-color: black;
    @media screen and (max-width: 900px) {
      .inner__banner--2c{
        display: grid;
        grid-template-rows: 50% 50%;
        padding: 10%;
        background-image: url(../img/Pattern2.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .inner__banner--box {
          display: flex;
          justify-content: center;
          img{
            margin-top: 10%;
            width: 90%;
          }
        }
        .inner__banner--box-txt {
          padding: 1% 5% 1% 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          justify-content: center;
          color: white;
          border-radius: 25px;
          h1 {
            font-size: 4.5vw;
            padding: 3%;
          }
          p {
            font-size: 3.5vw;
          }
        }
        
      }
      
    }
    @media screen and (min-width: 900px) {
      .inner__banner--2c {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 10%;
        background-image: url(../img/Pattern2.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .inner__banner--box {
          display: flex;
          justify-content: center;
          img{
            width: 90%;
          }
        }
        .inner__banner--box-txt {
          padding: 1% 5% 1% 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          justify-content: center;
          color: white;
          border-radius: 25px;
          h1 {
            font-size: 2.5vw;
            padding: 3%;
          }
          p {
            font-size: 2vw;
          }
        }
      }
      
    }
  }

  
 /*Sección Zona sobre mí*/

 .bloque__seccion--big--for--tele {
    width: 100%;
    box-shadow: $box-shadow-light;
    background-color: black;
    @media screen and (max-width: 900px) {
      .inner__banner--2c{
        display: grid;
        grid-template-rows: 50% 50%;
        padding: 10%;
        background-image: url(../img/Pattern3.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .inner__banner--box {
          display: flex;
          justify-content: center;
          img{
            margin-top: 10%;
            width: 90%;
          }
        }
        .inner__banner--box-txt {
          padding: 1% 5% 1% 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          justify-content: center;
          color: white;
          border-radius: 25px;
          h1 {
            font-size: 4.5vw;
            padding: 3%;
          }
          p {
            font-size: 3.5vw;
          }
        }
        
      }
      
    }
    @media screen and (min-width: 900px) {
      .inner__banner--2c {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 10%;
        background-image: url(../img/Pattern3.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .inner__banner--box {
          display: flex;
          justify-content: center;
          img{
            width: 90%;
          }
        }
        .inner__banner--box-txt {
          padding: 1% 5% 1% 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          justify-content: center;
          color: white;
          border-radius: 25px;
          h1 {
            font-size: 2.5vw;
            padding: 3%;
          }
          p {
            font-size: 2vw;
          }
        }
      }
      
    }
  }

  
