footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10% 0% 10% 0%;
    background-color: black;
    box-shadow: $box-shadow;
    img {
      width: 15vw;
    }
    @media screen and (max-width: 900px){
        .logo {
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            top: 0;
            right: 0;
            left: 0;
        }
    }
  }
  