/*Bloque Texto "Sergio Bohada code & desing*/
.bloque__seccion--3layer {
  width: 100%;
  background-image: linear-gradient(
      rgba(26, 16, 56, 0.55),
      rgba(5, 7, 12, 0.65)
    ),
    url(/dist/img/backgroundTest.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.inner_banner--1 {
  padding: 2vw;
  img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
/*Fin"Sergio Bohada code & desing*/

/*Sección main content*/



.bloque__seccion--big {
  width: 100%;
  background: rgb(35,19,78);
  background: radial-gradient(circle, rgba(35,19,78,1) 0%, rgba(51,19,60,1) 100%);
  box-shadow: $box-shadow;
  @media screen and (max-width: 900px) {
    .inner__banner--2c{
      display: grid;
      grid-template-rows: 50% 50%;
      padding: 10%;
      background-image: url(/dist/img/Shapes.svg);
      background-repeat: no-repeat;
      background-size: contain;
      .inner__banner--box {
        display: flex;
        justify-content: center;
        img{
          margin-top: 10%;
          width: 90%;
        }
      }
      .inner__banner--box-txt {
        padding: 1% 5% 1% 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        justify-content: center;
        color: white;
        background-color: rgba(253, 137, 255, 0.44);
        backdrop-filter: blur(8px);
        border-radius: 25px;
        h1 {
          font-size: 4.5vw;
          padding: 3%;
        }
        p {
          font-size: 3.5vw;
        }
      }
      
    }
    
  }
  @media screen and (min-width: 900px) {
    .inner__banner--2c {
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 10%;
      background-image: url(/dist/img/Shapes.svg);
      background-repeat: no-repeat;
      background-size: contain;
      .inner__banner--box {
        display: flex;
        justify-content: center;
        img{
          width: 90%;
        }
      }
      .inner__banner--box-txt {
        padding: 1% 5% 1% 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        justify-content: center;
        color: white;
        background-color: rgba(253, 137, 255, 0.44);
        backdrop-filter: blur(8px);
        border-radius: 25px;
        h1 {
          font-size: 2.5vw;
          padding: 3%;
        }
        p {
          font-size: 2vw;
        }
      }
    }
    
  }
}




