/*Colores principales*/

$purpura-pastel: #C09CF0;
$purpura-azulado: #794DFA;
$purpura-oscuro: #1A1038;
$pastel: #FAF3B9;
$pastel-naranja: #F09F43;

/*Text shadows*/

$sombra-blanca: 0 0 20px #ffffff;

/*Box shadows*/

$box-shadow: 0px -11px 61px 19px rgba(26,16,56,1);

