@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Pacifico&display=swap");
/*Variables*/
$title-font: "Montserrat", sans-serif;
$border-grey: 2px solid grey;
html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.logo {
  width: 55%;
  height: auto;
}

.navbar-nav {
  font-size: 1.5vw;
}

.navbar-brand {
  padding-left: 10%;
}

/* Index Bienvenida */
.container {
  display: flex;
  margin-top: 5%;
  h1 {
    text-align: center;
    font-family: "Pacifico", cursive;
    background: -webkit-linear-gradient(#d1aeee, #5a2bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: regular;
    font-size: 3vw;
    padding-bottom: 3%;
  }
  img {
    width: 10vw;
  }
  p {
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-style: light;
    font-size: 1.3vw;
  }
}
/* Index bloque__info */

.bloque__info {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 5%;
  padding: 10%;
  .bloque__info-paneles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      width: 25vw;
    }
    h1 {
      text-align: center;
      font-family: "Pacifico", cursive;
      background: -webkit-linear-gradient(#d1aeee, #5a2bff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-style: regular;
      font-size: 2vw;
    }
    img:hover {
      transform: scale(1.1, 1.1);
    }
    .interest-section{
        padding: 1%;
        text-align: center;
        p{
            font-family: "Montserrat", sans-serif;
            font-size: 1.5vw;
            font-style: thin;
            font-weight: 300;
    
        }
    }

  }
}

/* Footer */

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.1vw;
}

.social-icons-container,
.footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.social-icon {
  height: 50px;
  width: 50px;
  border-radius: 1px solid #f2f2f2;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;
}

.footer-menu-container {
  list-style-type: none;
  color: #f2f2f2;
  font-size: 1.3vw;
}

.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.menu-item:hover {
  opacity: 1;
}

.copyright {
  color: #f2f2f2;
  opacity: 0.3;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  margin-top: 5%;
  align-items: center;
}

.container img {
  width: 450px;
}

.container .text-info {
  margin-left: 5%;
  color: white;
  text-align: center;
  animation: fadeIn 10s;
}

.interest-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.icons {
  margin-top: 10px;
}

.fa {
  font-size: 50px;
  padding: 15px;
}

.fa:hover {
  transform: scale(1.1, 1.1);
}

.bloques__formacion {
  font-family: $title-font;
  color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Pagina sobre mí*/
/*Bloque formación academica*/
.bloque__formacion {
  width: 100%;
  background-color: black;
  padding: 3%;
  h1 {
    text-align: center;
    font-family: "Pacifico", cursive;
    background: -webkit-linear-gradient(#d1aeee, #5a2bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: regular;
    font-size: 3vw;
  }
  .bloque__formacion-paneles {
    padding: 3%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1%;
    .paneles {
      padding: 3%;
      width: 100%;
      border: $border-grey;
      margin: 2%;
      p {
        padding-top: 2%;
        text-align: justify;
        font-family: "Montserrat", sans-serif;
        font-style: light;
        font-size: 1vw;
      }
      h2 {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-style: regular;
        font-size: 1.5vw;
      }
      .icons__formacion {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 2%;
        img {
          width: 10%;
        }
      }
    }
  }
}

/*Bloque sobre mí*/

.bloque__sobreMi {
  padding: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  .bloque__sobreMi--panel {
    img {
      padding-left: 30%;
      width: 75%;
    }
    h1 {
      padding-bottom: 1%;
      font-family: "Pacifico", cursive;
      background: -webkit-linear-gradient(#d1aeee, #5a2bff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3vw;
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-size: 1.5vw;
      font-style: thin;
      font-weight: 300;
      padding-bottom: 1%;
    }
  }
}
